@use "./layouts" as *;
@use "./themes" as *;

body {
  font-family: "Montserrat", sans-serif;
  border-radius: 20px;
}

.container {
  background-color: var(--surface-200);
  color: var(--text-200);
  border: 1px solid var(--surface-100);
  height: 100%;
  min-width: 100%;

  &__header {
    background-color: var(--surface-300);
    padding: 1rem;
    font-size: 2.5rem;
    font-weight: 500;
    user-select: none;
    & > div {
      @include flex-variant(center, center);
      gap: 0.5ch;
    }
    &__icon {
      fill: var(--surface-200);
    }
  }
  &__footer {
    @include flex-variant(space-between, center);
    padding: 0rem 1rem;
    min-width: 100%;
  }
}
.text-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.footer {
  &__btn {
    width: 5rem;
  }
  &__btn-clearBtn {
    background-color: var(--surface-200);
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: var(--text-200);
    font-size: large;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.25s ease-out;
    &:hover {
      background-color: var(--surface-300);
    }
    &:active {
      background-color: var(--surface-200);
      scale: 0.9;
      transition: all 0.25s ease-out;
    }
  }
}
#notes {
  background-color: var(--surface-200);
  border: none;
  resize: none;
  outline: none;
  color: var(--text-100);
  padding: 1rem;
  font-size: large;
}
.rotate {
  animation: rotate 1.5s linear infinite;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
.hidden {
  display: none;
}
